[submodule "third_party/ANThology"]
	path = third_party/ANThology
	url = https://github.com/Kataglyphis/ANThology.git
	branch = main
[submodule "third_party/ANTfrastructure"]
	path = third_party/ANTfrastructure
	url = https://github.com/Kataglyphis/ANTfrastructure.git
	branch = main
